/* 
    Document   : pcsu
    Created on : 13/01/2010, 10:26:48 PM
    Author     : Carlos Mendoza
    Description:
        Styles used in the plugin Preview comments short url.
*/

span.longurl a.expand  {
    color:#006505;
}

span.longurl a.contract {
    color:#BC0B0B;
}
